* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --transparent-backgr: rgba(146, 252, 165, 0.1);
  --white-backgr: rgba(245, 245, 245, 0.5);
  --accent: rgba(1,65,32,1);
  --shadow: rgba(0, 0, 0, 0.2);
  --text-col: #d5d5d5;
  --text-black: black;
}

.date {
	background-image: url(../img/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.date .container {
  background-color: var(--transparent-backgr);
  padding: 4.4444444444vh 2.0833333333vw;
  margin-left: 7.2916666667vw;
  margin-right: 7.2916666667vw;
}

.date .date__info {
  padding-bottom: 12.4444444444vh;
}

.date .date__input {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5555555556vh;
}

.date #output {
  background-color: var(--white-backgr);
  text-align: center;
  padding: 1em;
  color: var(--text-black);
  font-size: 1.2em;
  letter-spacing: 0.05em;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.date .counting-title {
  color: var(--text-black);
  font-size: 18px;
}

.date .counting-results {
  color: var(--accent);
  font-size: 1.2em;
  font-weight: 600;
}

.date .date__output-wrapper {
  margin-bottom: 1.1111111111vh;
}

.date label {
  color: var(--text-black);
  display: block;
  font-weight: 600;
  filter: drop-shadow(0 0 4px var(--white-backgr));
}

.date input[type=date] {
  font-size: 16px;
  padding: 1em;
  color: #242831;
  border: none;
  outline: none;
  margin-top: 0.6em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.date ::-webkit-calendar-picker-indicator {
  background-color: rgba(146, 252, 165, 0.8);
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.1em;
}

.date ::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.date table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-bottom: 20px;
}

.date th {
  text-align: center;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.date table th {
  padding: 1.6666666667vh 10.6770833333vw;
}

.date td,
.date th {
  text-align: center;
  background-color: var(--white-backgr);
}

.date .submit__btn {
  width: 250px;
  font-size: 16px;
}

.date .submit__btn,
.date #weekButton,
.date #monthButton {
  display: block;
  background-color: var(--accent);
  color: var(--text-col);
  margin: 1em auto 2em auto;
  border: none;
  padding: 0.7em 2em;
  border-radius: 0.3em;
  font-weight: 600;
  cursor: pointer;
}

.date #weekButton,
.date #monthButton {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
}

.date .submit__btn:hover {
  background-color: rgba(1, 65, 32, 0.8);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgb(1, 65, 32), rgba(1, 65, 32, 0.8));
}

.date #weekButton:hover,
.date #monthButton:hover {
  background-color: rgba(1, 65, 32, 0.8);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgb(1, 65, 32), rgba(1, 65, 32, 0.8));
}

.date .date__interval {
  display: flex;
  gap: 0.5208333333vw;
}

.date .date__filters {
  display: flex;
  justify-content: space-between;
}

.date .date__filters label {
  margin-bottom: 0.5555555556vh;
}

.date .date__filters select {
  padding: 0.8888888889vh 0.4166666667vw;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin-bottom: 1.6666666667vh;
}

@media screen and (max-width: 814px) {
  .date .date__input {
    padding-top: 0.5555555556vh;
    position: relative;
  }

  .date #output {
    padding: 5px;
  }

  .date #weekButton,
  .date #monthButton {
    width: 120px;
    padding: 0.5em;
  }
}

@media screen and (max-width: 716px) {
  .date .date__submit {
    padding-top: 8.3333333333vh;
  }

  .date table {
    font-size: 14px;
  }

  .date #weekButton {
    position: absolute;
    left: 0vw;
    top: 11.1111111111vh;
  }

  .date #monthButton {
    position: absolute;
    right: 0vw;
    top: 11.1111111111vh;
  }

  .date .date__filters {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 587px) {
  .date .counting-results {
    font-weight: 600;
    font-size: 18px;
  }
}

@media screen and (max-width: 574px) {
  .date table th {
    padding: 15px;
  }
  .date .date__submit {
	padding-top: 0;
   }
   .date .container {
	padding-top: 0;
   }
}

@media screen and (max-width: 416px) {
  .date .container {
    margin-left: 2.0833333333vw;
    margin-right: 2.0833333333vw;
  }
}

@media screen and (max-width: 375px) {
	.date #weekButton,
  .date #monthButton {
    margin-top: 25px;
  }
  }

@media screen and (max-width: 363px) {
  .date .date__input {
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 341px) {
  .date input[type=date] {
    padding: 0.5em;
  }

  .date .submit__btn {
    width: 230px;
  }
}
